<div id="admin">
    <div class="adminArea">
        <div class="container">
            <h3>Administrator Dashboard</h3>
            <div class="row no-gutter">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
                    <div class="addVendor">
                        <a class="adminButton" href="/vendor/add">Add Vendor</a>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
                    <div class="vendorList">
                        <a class="adminButton" href="/admin/vendors">Vendor List</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
                    <div class="pendingVendors">
                        <a class="adminButton" href="/admin/pending">Pending Vendors</a>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
                    <div class="userList">
                        <a class="adminButton" href="/admin/users">User List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>