<div id="users-list">
    <div id="user-list-header">
        <div class="container">
            <div class="user-list-title">
                <h3>ADMIN USER LIST</h3>
            </div>
            <div class="filters">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="filter">
                            <label for="search">Keyword Search</label>
                            <input class="search search-filter">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="filter">
                            <label for="categoryselect">Category</label>
                            <select class="select-filter cat-s chosen" id="category-search" name="categoryselect">
                                <option value="All">All</option>
                                {{#each categories}}
                                    <option value="{{this.category_name}}">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="filter">
                            <label for="cityselect">Location</label>
                            <select class="select-filter city-s chosen" id="city-search" name="cityselect">
                                <option value="All">All</option>
                                {{#each city}}
                                    <option value="{{this.city}}">{{this.city}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="filter price-filter">
                            <label for="price">Price</label>
                            <div class="price-checkboxes">
                                <input class="price-checkbox" type="checkbox" name="price" id="oneDollar" data-value="$">
                                <label class="price-label one-dollar" for="oneDollar">$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="twoDollar" data-value="$$">
                                <label class="price-label two-dollar" for="twoDollar">$$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="threeDollar" data-value="$$$">
                                <label class="price-label three-dollar" for="threeDollar">$$$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="fourDollar" data-value="$$$$">
                                <label class="price-label four-dollar" for="fourDollar">$$$$</label>
                                <button class="sort" data-sort="vendPrice">Sort</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="user-list">
            <ul class="paginationTop"></ul>
            <div class="row">
                <div class="list">

                </div>
            </div>
            <ul class="paginationBottom"></ul>
        </div>
    </div>
</div>