<div id="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <h3>CONTACT US</h3>
                <div class="row">
                    <form id="contact-form" action="" method="post">
                        <div class="col-sm-6">
                            <input type="text" name="fname" id="fname" placeholder="First Name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="lname" id="lname" placeholder="Last Name">
                        </div>
                        <div class="col-sm-12">
                            <input type="email" name="emailadd" id="emailadd" placeholder="Email">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                            <input type="submit" class="button-light" id="contact-submit">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>