<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!--All CSS Includes-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/chosen.css' />

    <!--All JS Includes-->
    <script src = "/javascripts/bundle.js" ></script>
      <script src = "/javascripts/chosen.jquery.min.js" ></script>

  </head>

  <div class="landing-video">
      <iframe src="https://player.vimeo.com/video/52857746?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <body>

      <header>
          <div id="masthead">
              <div class="container">
                  <div class="col-sm-8 col-sm-offset-2">
                      <div class="left-nav">
                          <a href="#"><h3>Featured Vendors</h3></a>
                      </div>
                      <a href="/" class="logo-area">
                          <img class = "logo" src="/images/logo.png" alt="">
                      </a>
                      <div class="right-nav">
                          <a href="#"><h3>Vendor List</h3></a>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="user-area">
                          <a href="" class="sign-in">Sign In</a>
                          <a href="" class="sign-up">Sign Up</a>
                      </div>
                  </div>

              </div>
          </div>
      </header>

    {{{body}}}

      <div class="modal fade" id="message-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
              <div class="modal-content failure">
                  <div class="form-response"></div>
                  <div class="row">
                      <div class="col-sm-offset-3 col-sm-6">
                          <button id="dismiss-button" type="button" class="btn btn-secondary notdisplay" data-dismiss="modal">Dismiss</button>
                          <a class="view-button" href=""><button type="button" class="btn btn-secondary"></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer id="mastfooter">
          <div class="main-footer">
              <div class="container">
                  <div class="col-sm-4">
                      <div class="footer-logo">
                          <img class = "logo" src="/images/logo-white.png" alt="">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="newsletter">Join our newsletter.</div>
                  </div>
                  <div class="col-sm-4">
                      <div class="social-media">
                          <a class="social-button" href="">f</a>
                          <a class="social-button" href="">t</a>
                          <a class="social-button" href="">i</a>
                          <a class="social-button" href="">p</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sub-footer">
              <div class="container">
                  <a href="#" class="col-sm-offset-3 col-sm-2">Privacy Policy</a>
                  <a href="#" class="col-sm-2">Terms of Use</a>
                  <a href="#" class="col-sm-2">Copyright 2016</a>
              </div>
          </div>
      </footer>

  </body>

</html>
