<h4>Hello this is multer test</h4>

<form action="" enctype="multipart/form-data" method="post">

    <input type="file" name="testfile" multiple>
    <input type="submit" value="Submit Form">

</form>