<div id="register-page">
    <h3 class="page-header">REGISTER</h3>

    <div class="row no-gutter">
        <div class="col-sm-offset-4 col-sm-4">
            <form id="register" method="post" action="/users/register">
                <div class="row no-gutter">
                    <div class="col-sm-6">
                        <div class="form-group left">
                            <input type="text" class="form-control" placeholder="Name" name="name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form- right">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="submit">Submit</button>
                    </div>
                </div>
            </form>
            <div class="facebookSignUp">
                <div class="row no-gutter">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="bannerLine"></div>
                        <h3>or</h3>
                        <div class="bannerLine"></div>
                        <a href="/users/auth/facebook" class="submit"><span class="fa fa-facebook"></span> Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
