<div id="review-vendor">
    <div class="container">
        <h3>Leave a Review for {{vendor.vendor_name}}</h3>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form action="/vendor/leavereview" id="review-form" method="post">
                    <label for="rating">Rating</label>
                    <div class="ratingWrapper">
                        <input class="starRating" name="rating" id="fiveStar" type="checkbox" value="5">
                        <label class="ratingLabel five-star" for="fiveStar" ></label>

                        <input class="starRating" name="rating" id="fourStar" type="checkbox" value="4">
                        <label class="ratingLabel four-star" for="fourStar" ></label>

                        <input class="starRating" name="rating" id="threeStar" type="checkbox" value="3">
                        <label class="ratingLabel three-star" for="threeStar" ></label>

                        <input class="starRating" name="rating" id="twoStar" type="checkbox" value="2">
                        <label class="ratingLabel two-star" for="twoStar" ></label>

                        <input class="starRating" name="rating" id="oneStar" type="checkbox" value="1">
                        <label class="ratingLabel one-star" for="oneStar" ></label>
                    </div>
                    <label for="reviewTitle">Title</label>
                    <input name="reviewTitle" id="reviewTitle" type="text">
                    <label for="reviewText">Review</label>
                    <textarea name="reviewText" id="reviewText" cols="30" rows="10"></textarea>
                    <input type="hidden" name="vendorID" value="{{vendor.vendor_id}}">
                    <input type="hidden" name="vendorName" value="{{vendor.vendor_url}}">
                    <input id="vendor-review-submit" class="button-dark" type="submit" value="Leave Review" name="submit">
                </form>
            </div>
        </div>

    </div>
</div>