@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Josefin Sans Bold';
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'socicon';
  src: url("../fonts/socicon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  position: relative;
  min-height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 230px; }

a {
  color: #00B7FF;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

h3 {
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 100;
  color: #282828; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.small-gutter > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px; }

.button-dark {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin: 15px 0 5px 0;
  display: block;
  height: 45px;
  background: #282828;
  width: 100%;
  border: none; }
  .button-dark:hover {
    background: #424242; }

.button-light {
  display: block;
  margin: 5px 0;
  color: #282828;
  font-family: "Josefin Sans";
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background: #fff;
  width: 100%;
  border: 1px solid #282828; }
  .button-light:hover {
    background: #f2f2f2; }

.back-button {
  text-decoration: none;
  width: 45px;
  display: inline-block; }
  .back-button img {
    height: 30px;
    margin-top: -7px;
    text-decoration: none; }

.back-text {
  display: inline-block;
  font-family: "Lato Light";
  font-size: 18px;
  margin-left: 5px; }

.form-label {
  font-family: "Lato Light";
  font-weight: 700;
  font-size: 16px; }

input, textarea {
  font-family: "Lato Light";
  padding-left: 5px; }

.chosen-container span, .chosen-container li {
  font-family: "Lato Light"; }

.fill {
  z-index: 5; }

.outline {
  z-index: 4; }

.favorite-heart {
  position: absolute;
  height: 40px;
  width: auto;
  margin: 10px 0 0 10px; }
  .favorite-heart.outline {
    opacity: 0.5;
    transition: 0.2s all; }
  .favorite-heart.fill {
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s; }
    .favorite-heart.fill:hover + .outline {
      opacity: 1; }
    .favorite-heart.fill:hover {
      opacity: 0.5; }
    .favorite-heart.fill.favorited {
      opacity: 0.5; }
      .favorite-heart.fill.favorited:hover {
        opacity: 1; }

.ribbon-wrapper-home, .ribbon-wrapper {
  overflow: hidden;
  position: absolute; }

.ribbon-wrapper-home {
  width: 105px;
  height: 105px;
  bottom: -9px;
  left: -9px; }

.ribbon-wrapper {
  width: 145px;
  height: 145px;
  top: -9px;
  right: 6px; }

.ribbon-home, .ribbon {
  font-family: "Josefin Sans";
  font-weight: 700;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  background-color: #f9f9f9;
  color: #282828;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.ribbon-home {
  right: 31px;
  bottom: -49px;
  width: 145px; }

.ribbon {
  right: -6px;
  top: 37px;
  width: 175px; }

.ribbon-home:before, .ribbon-home:after, .ribbon:before, .ribbon:after {
  content: "";
  position: absolute; }

.ribbon-home:before, .ribbon-home:after {
  border-bottom: 6px solid #d4d4d4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -6px; }

.ribbon:before, .ribbon:after {
  border-top: 6px solid #d4d4d4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: -6px; }

.ribbon-home:before, .ribbon:before {
  left: 0; }

.ribbon-home:after, .ribbon:after {
  right: 0; }

.paginationBottom, .paginationTop {
  text-align: center;
  list-style-type: none; }
  .paginationBottom li, .paginationTop li {
    margin: 0 5px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #282828;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .paginationBottom li:hover, .paginationBottom li.active, .paginationTop li:hover, .paginationTop li.active {
      background: #282828; }
      .paginationBottom li:hover a, .paginationBottom li.active a, .paginationTop li:hover a, .paginationTop li.active a {
        color: #fff; }
    .paginationBottom li a, .paginationTop li a {
      font-family: "Lato Light";
      font-size: 16px;
      text-decoration: none;
      color: #282828;
      line-height: 40px;
      display: block;
      height: 38px;
      width: 38px;
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }

.paginationBottom {
  margin-bottom: 40px; }

.landing-video iframe {
  width: 100%;
  height: calc(100vh - 120px); }

#masthead {
  text-align: center;
  background-color: #fff;
  height: 120px;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s; }
  #masthead.catch-header {
    position: fixed;
    top: 0;
    z-index: 15;
    height: 80px;
    box-shadow: 0px 2px 10px #282828; }
    #masthead.catch-header .logo-area img {
      padding: 0 40px 0 40px; }
    #masthead.catch-header h3 {
      font-size: 18px; }
    #masthead.catch-header .user-area a {
      margin-top: 25px; }
  #masthead h3 {
    color: #282828;
    font-family: "Josefin Sans";
    font-weight: 100;
    border-bottom: 1px solid #fff; }
    #masthead h3:hover {
      border-bottom: 1px solid #282828; }
  #masthead .right-nav, #masthead .left-nav, #masthead .logo-area {
    display: inline-block;
    vertical-align: middle;
    margin-top: 17px; }
  #masthead .right-nav, #masthead .left-nav {
    width: 160px; }
  #masthead .right-nav h3 {
    float: left;
    margin-top: 10px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s; }
  #masthead .left-nav h3 {
    float: right;
    margin-top: 10px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s; }
  #masthead .logo-area img {
    width: 200px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s; }
  #masthead .user-area {
    text-align: right; }
    #masthead .user-area .my-profile {
      width: 100px; }
    #masthead .user-area .contact {
      width: 30px;
      height: 30px; }
      #masthead .user-area .contact:before {
        line-height: 27px;
        position: relative;
        top: 2px; }
    #masthead .user-area a {
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 40px 0 5px 10px;
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      height: 30px;
      width: 80px;
      background: #282828;
      border: none;
      -webkit-transition: all 0.2s;
      /* Safari */
      transition: all 0.2s; }
      #masthead .user-area a:hover {
        background: #424242; }

#featured-vendor {
  margin-top: 120px;
  margin-bottom: 40px;
  padding-top: 40px; }
  #featured-vendor .slick-arrow {
    background-color: #282828;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    #featured-vendor .slick-arrow:hover {
      background-color: #424242; }
  #featured-vendor .slick-prev {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 120px; }
  #featured-vendor .slick-next {
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 120px; }
  #featured-vendor .slick-dots {
    text-align: center;
    padding-left: 0;
    margin-top: 10px; }
    #featured-vendor .slick-dots li {
      display: inline-block;
      width: 10px;
      margin: 0 10px; }
      #featured-vendor .slick-dots li.slick-active button {
        background: #282828; }
      #featured-vendor .slick-dots li button {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        border: 1px solid #282828;
        background: #fff;
        padding: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #featured-vendor .slick-dots li button:hover {
          background: #282828; }
  #featured-vendor h3 {
    text-align: center;
    margin: 0 auto 35px auto;
    font-family: "Josefin Sans";
    font-weight: 100;
    color: #282828; }
  #featured-vendor .featured-box {
    padding: 20px 0;
    position: relative;
    opacity: 0.15;
    outline: none;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
    #featured-vendor .featured-box.slick-center {
      opacity: 1; }
      #featured-vendor .featured-box.slick-center .desc-box .vend-view {
        pointer-events: auto;
        cursor: pointer; }
    #featured-vendor .featured-box .feat-img {
      position: relative;
      height: 340px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #featured-vendor .featured-box .desc-box {
      background-color: #fff;
      width: 660px;
      height: 280px;
      position: absolute;
      padding: 10px 20px;
      top: 50px;
      right: 40px; }
      #featured-vendor .featured-box .desc-box h2 {
        font-family: "Playfair Display";
        margin: 0 0 5px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #282828; }
      #featured-vendor .featured-box .desc-box .vend-cat {
        font-family: "Lato Light";
        font-size: 14px;
        color: #282828;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border-bottom: 1px solid #282828; }
      #featured-vendor .featured-box .desc-box .overflow-box {
        height: 130px; }
        #featured-vendor .featured-box .desc-box .overflow-box .vend-desc {
          font-family: "Lato Light";
          font-size: 16px;
          color: #282828;
          line-height: 20px;
          margin: 10px 0; }
      #featured-vendor .featured-box .desc-box .desc-box-bottom {
        border-top: 1px solid #282828;
        padding-top: 10px; }
      #featured-vendor .featured-box .desc-box .vend-info {
        padding-top: 10px; }
        #featured-vendor .featured-box .desc-box .vend-info span {
          font-size: 14px;
          font-family: "Lato Light";
          font-weight: 700;
          color: #282828; }
        #featured-vendor .featured-box .desc-box .vend-info .vend-add, #featured-vendor .featured-box .desc-box .vend-info .vend-phone {
          font-family: "Lato Light";
          color: #828282;
          font-size: 14px;
          margin-bottom: 5px; }
      #featured-vendor .featured-box .desc-box .priceRating {
        display: inline-block; }
        #featured-vendor .featured-box .desc-box .priceRating .vend-price {
          font-family: "Lato Light";
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px; }
        #featured-vendor .featured-box .desc-box .priceRating .reviewRating {
          padding-left: 0;
          display: inline-block;
          vertical-align: middle; }
        #featured-vendor .featured-box .desc-box .priceRating .reviewCount {
          display: inline-block;
          vertical-align: middle;
          font-family: "Lato Light";
          font-size: 14px;
          color: #828282; }
      #featured-vendor .featured-box .desc-box .vend-view {
        font-family: "Josefin Sans";
        text-decoration: none;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        line-height: 40px;
        display: inline-block;
        float: right;
        height: 40px;
        width: 120px;
        background: #282828;
        border: none;
        pointer-events: none;
        cursor: default; }
        #featured-vendor .featured-box .desc-box .vend-view:hover {
          background: #424242; }

#vendor-list-header {
  height: 160px;
  background-color: #282828; }
  #vendor-list-header .vend-list-title h3 {
    text-align: center;
    margin: 35px auto 35px auto;
    font-family: "Josefin Sans";
    font-weight: 100;
    color: #fff; }
  #vendor-list-header .price-filter label {
    display: block; }
  #vendor-list-header .price-filter input {
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  #vendor-list-header .price-filter .price-checkboxes .price-label {
    text-align: center;
    font-size: 15px;
    border: 1px solid #fff;
    opacity: 0.5;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 2px;
    width: 40px;
    height: 23px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    #vendor-list-header .price-filter .price-checkboxes .price-label:hover {
      opacity: 1;
      background: #fff;
      color: #282828;
      border: 1px solid #fff; }
  #vendor-list-header .price-filter .price-checkboxes .price-checkbox:checked + .price-label {
    opacity: 1;
    background: #fff;
    color: #282828;
    border: 1px solid #282828;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    #vendor-list-header .price-filter .price-checkboxes .price-checkbox:checked + .price-label:hover {
      opacity: 0.8; }
  #vendor-list-header .price-filter .price-checkboxes .sort {
    color: #fff;
    border: none;
    background: none;
    outline: none; }
  #vendor-list-header .price-filter .price-checkboxes .asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 13px;
    right: -5px; }
  #vendor-list-header .price-filter .price-checkboxes .desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -10px;
    right: -5px; }
  #vendor-list-header .filters .filter .search {
    background: #fff url("chosen-sprite.png") no-repeat 100% -20px;
    border: 1px solid #aaa;
    height: 24px; }
  #vendor-list-header .filters .filter label {
    font-family: "Josefin Sans";
    font-weight: 100;
    font-size: 18px;
    color: #fff; }
  #vendor-list-header .filters .filter .no-dollar {
    font-family: "Josefin Sans Bold";
    font-size: 19px;
    margin-top: -1px;
    margin-left: 5px; }
  #vendor-list-header .filters .filter input {
    font-family: "Lato Light";
    width: 100%; }
  #vendor-list-header .filters .filter select {
    padding: 1px;
    height: 23px;
    font-family: "Lato Light";
    width: 100%; }
  #vendor-list-header .filters .filter .chosen-single {
    font-family: "Lato Light";
    height: 24px;
    border-radius: 0;
    background: #fff;
    box-shadow: none; }
  #vendor-list-header .filters .filter .chosen-drop {
    border-radius: 0; }
  #vendor-list-header .filters .filter .chosen-results {
    font-family: "Lato Light"; }

.admin-vendors-list {
  padding-top: 120px; }

#vendor-list {
  padding-top: 40px; }
  #vendor-list .box {
    padding: 20px 0; }
    #vendor-list .box .feat-img {
      position: relative;
      height: 220px;
      width: 330px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #vendor-list .box .desc-box {
      background-color: #fff;
      width: 320px;
      height: 190px;
      position: absolute;
      padding: 10px 20px;
      top: 35px;
      right: 20px; }
      #vendor-list .box .desc-box .desc-box-lining {
        height: 100%;
        position: relative; }
        #vendor-list .box .desc-box .desc-box-lining h2 {
          font-family: "Playfair Display";
          margin: 0 0 5px 0;
          font-size: 24px;
          text-transform: uppercase;
          color: #282828; }
        #vendor-list .box .desc-box .desc-box-lining .vendCat {
          font-family: "Lato Light";
          font-size: 14px;
          color: #282828;
          padding-bottom: 5px;
          margin-bottom: 2px;
          border-bottom: 1px solid #282828; }
        #vendor-list .box .desc-box .desc-box-lining .vendAdd, #vendor-list .box .desc-box .desc-box-lining .vendAdd2, #vendor-list .box .desc-box .desc-box-lining .vendCity {
          font-family: "Lato Light";
          color: #828282;
          font-size: 14px;
          margin-bottom: 0px; }
        #vendor-list .box .desc-box .desc-box-lining .vendAdd2, #vendor-list .box .desc-box .desc-box-lining .vendCity {
          display: inline-block; }
        #vendor-list .box .desc-box .desc-box-lining .noRating {
          font-family: "Lato Light";
          font-size: 14px; }
        #vendor-list .box .desc-box .desc-box-lining .desc-box-bottom {
          position: absolute;
          width: 100%;
          bottom: 0; }
        #vendor-list .box .desc-box .desc-box-lining .priceRating {
          display: inline-block;
          position: absolute;
          bottom: 5px; }
          #vendor-list .box .desc-box .desc-box-lining .priceRating .vendPrice {
            font-family: "Lato Light";
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px; }
          #vendor-list .box .desc-box .desc-box-lining .priceRating .reviewRating {
            display: inline-block;
            vertical-align: middle;
            font-family: "Lato Light";
            padding-left: 0;
            margin-bottom: 0; }
          #vendor-list .box .desc-box .desc-box-lining .priceRating .reviewCount {
            display: inline-block;
            vertical-align: middle;
            font-family: "Lato Light";
            font-size: 14px;
            color: #828282;
            margin-bottom: 0; }
        #vendor-list .box .desc-box .desc-box-lining .vend-view, #vendor-list .box .desc-box .desc-box-lining .vend-edit, #vendor-list .box .desc-box .desc-box-lining .vend-approve {
          position: absolute;
          bottom: 0;
          font-family: "Josefin Sans";
          text-decoration: none;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          margin: 0;
          font-size: 18px;
          line-height: 40px;
          display: inline-block;
          height: 40px;
          width: 120px;
          background: #282828;
          border: none; }
          #vendor-list .box .desc-box .desc-box-lining .vend-view:hover, #vendor-list .box .desc-box .desc-box-lining .vend-edit:hover, #vendor-list .box .desc-box .desc-box-lining .vend-approve:hover {
            background: #424242; }
        #vendor-list .box .desc-box .desc-box-lining .vend-view {
          right: 0; }
        #vendor-list .box .desc-box .desc-box-lining .vend-edit {
          left: 0; }

#no-vendors {
  display: none; }
  #no-vendors h4 {
    font-family: "Lato Light"; }

#vendor-single {
  padding-top: 120px;
  padding-bottom: 40px; }
  #vendor-single #vendor-description {
    padding: 40px 0 140px 0; }
    #vendor-single #vendor-description .feat-img {
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #vendor-single #vendor-description .info-box {
      width: 300px;
      height: 160px;
      padding: 10px 20px;
      position: absolute;
      background-color: #fff;
      top: 240px;
      left: 90px; }
      #vendor-single #vendor-description .info-box .vend-info span {
        font-size: 14px;
        font-family: "Lato Light";
        font-weight: 700;
        color: #282828; }
      #vendor-single #vendor-description .info-box .vend-info .vend-add, #vendor-single #vendor-description .info-box .vend-info .vend-phone {
        font-family: "Lato Light";
        color: #828282;
        font-size: 14px;
        margin-bottom: 5px; }
      #vendor-single #vendor-description .info-box .line {
        width: 100%;
        border-top: 1px solid #282828; }
      #vendor-single #vendor-description .info-box .rate-price-box {
        margin-top: 5px;
        padding-top: 5px;
        display: inline-block; }
        #vendor-single #vendor-description .info-box .rate-price-box .reviewRating {
          font-family: "Lato Light";
          padding-left: 0;
          display: inline-block; }
        #vendor-single #vendor-description .info-box .rate-price-box .reviewCount {
          display: inline-block;
          vertical-align: middle;
          font-family: "Lato Light";
          font-size: 14px;
          color: #828282; }
        #vendor-single #vendor-description .info-box .rate-price-box .vendorPrice {
          font-family: "Lato Light";
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px; }
      #vendor-single #vendor-description .info-box .vend-web {
        font-family: "Josefin Sans";
        text-decoration: none;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 15px 0 5px 0;
        font-size: 18px;
        line-height: 40px;
        display: inline-block;
        float: right;
        height: 40px;
        width: 100px;
        background: #282828;
        border: none; }
        #vendor-single #vendor-description .info-box .vend-web:hover {
          background: #424242; }
    #vendor-single #vendor-description h2 {
      font-family: "Playfair Display";
      font-size: 36px;
      margin-top: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #282828; }
    #vendor-single #vendor-description .vend-cat {
      font-family: "Lato Light";
      font-size: 14px;
      color: #828282; }
    #vendor-single #vendor-description .vend-desc {
      font-family: "Lato Light";
      font-size: 16px;
      color: #282828;
      line-height: 20px; }
    #vendor-single #vendor-description .vend-edit-link {
      position: absolute;
      top: -20px;
      right: 0;
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 15px 15px 5px 0;
      font-size: 18px;
      line-height: 40px;
      display: block;
      height: 40px;
      width: 160px;
      background: #282828;
      border: none; }
      #vendor-single #vendor-description .vend-edit-link:hover {
        background: #424242; }
  #vendor-single #vendor-gallery h3 {
    text-align: center;
    margin: 35px auto 35px auto;
    font-family: "Josefin Sans";
    font-weight: 100;
    color: #282828; }
  #vendor-single #vendor-gallery .grid-sizer {
    width: 25%; }
  #vendor-single #vendor-gallery .vendor-item {
    position: relative;
    width: 24%;
    margin-bottom: 10px; }
    #vendor-single #vendor-gallery .vendor-item img {
      width: 100%;
      box-shadow: none;
      -webkit-transition: all 0.2s;
      /* Safari */
      transition: all 0.2s; }
      #vendor-single #vendor-gallery .vendor-item img:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 10px #282828; }
  #vendor-single #user-gallery h3 {
    margin: 35px auto 35px auto; }
  #vendor-single #user-gallery .grid-sizer {
    width: 25%; }
  #vendor-single #user-gallery .user-item {
    position: relative;
    width: 24%;
    margin-bottom: 10px; }
    #vendor-single #user-gallery .user-item img {
      width: 100%;
      box-shadow: none;
      -webkit-transition: all 0.2s;
      /* Safari */
      transition: all 0.2s; }
      #vendor-single #user-gallery .user-item img:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px #282828; }
  #vendor-single #vendor-reviews h3 {
    margin: 35px auto 35px auto; }
  #vendor-single #vendor-reviews h4 {
    text-align: center;
    font-family: "Lato Light";
    font-weight: 100;
    color: #282828; }
  #vendor-single #vendor-reviews p {
    font-family: "Lato Light";
    font-size: 16px; }
  #vendor-single #vendor-reviews .review-link {
    text-align: right; }
    #vendor-single #vendor-reviews .review-link .review-button {
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 15px 0 5px 0;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;
      height: 40px;
      width: 240px;
      background: #282828; }
      #vendor-single #vendor-reviews .review-link .review-button:hover {
        background: #424242; }
  #vendor-single #vendor-reviews .reviewHead {
    text-align: right; }
    #vendor-single #vendor-reviews .reviewHead .reviewUser {
      color: #282828;
      font-weight: 700;
      transition: all 0.2s;
      margin-bottom: 10px;
      border: 1px solid #fff;
      display: inline-block; }
      #vendor-single #vendor-reviews .reviewHead .reviewUser:hover {
        border-bottom: 1px solid #282828; }
    #vendor-single #vendor-reviews .reviewHead .reviewDelete {
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      height: 30px;
      width: 80px;
      background: #282828;
      border: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #vendor-single #vendor-reviews .reviewHead .reviewDelete:hover {
        background: #424242; }
  #vendor-single #vendor-reviews .reviewDate {
    color: #828282;
    font-size: 14px; }
  #vendor-single #vendor-reviews .review-body {
    border-bottom: 1px solid #282828;
    margin-bottom: 40px; }
    #vendor-single #vendor-reviews .review-body .reviewRating {
      font-family: "Lato Light";
      padding-left: 0; }
    #vendor-single #vendor-reviews .review-body .reviewTitle {
      font-weight: 700;
      font-size: 16px; }
    #vendor-single #vendor-reviews .review-body .reviewText {
      margin-bottom: 20px; }
    #vendor-single #vendor-reviews .review-body .reviewGallery {
      padding: 0 10px; }
      #vendor-single #vendor-reviews .review-body .reviewGallery .reviewPhoto {
        height: 100px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: none;
        margin: 0 0 10px 0;
        transition: 0.2s all; }
        #vendor-single #vendor-reviews .review-body .reviewGallery .reviewPhoto:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px #282828; }

.ekko-lightbox {
  text-align: center;
  display: flex;
  justify-content: center; }
  .ekko-lightbox .modal-dialog {
    width: 75vw;
    height: 75vh;
    align-self: center;
    display: inline-block; }
    .ekko-lightbox .modal-dialog .modal-content {
      border-radius: 0;
      height: 100%; }
      .ekko-lightbox .modal-dialog .modal-content .modal-header {
        height: 0;
        padding: 0; }
        .ekko-lightbox .modal-dialog .modal-content .modal-header .close {
          font-family: "Lato Light";
          font-size: 32px;
          position: absolute;
          margin-top: 0;
          top: -9px;
          right: -40px;
          color: #fff;
          opacity: 0.8; }
          .ekko-lightbox .modal-dialog .modal-content .modal-header .close:hover {
            opacity: 1; }
      .ekko-lightbox .modal-dialog .modal-content .modal-body {
        position: relative;
        padding: 15px;
        height: 100%; }
        .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container {
          vertical-align: middle;
          display: inline-block;
          height: 100%;
          width: 100%; }
          .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container div img {
              max-width: 100%;
              max-height: 100%;
              height: auto; }
          .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container .ekko-lightbox-nav-overlay .glyphicon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
          .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container .ekko-lightbox-nav-overlay .glyphicon-right {
            right: -40px;
            width: 80px;
            height: 80px;
            background-color: #282828;
            background-image: url("../images/right-arrow.png");
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s; }
            .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container .ekko-lightbox-nav-overlay .glyphicon-right:hover {
              background-color: #424242; }
          .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container .ekko-lightbox-nav-overlay .glyphicon-left {
            left: -40px;
            width: 80px;
            height: 80px;
            background-color: #282828;
            background-image: url("../images/left-arrow.png");
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s; }
            .ekko-lightbox .modal-dialog .modal-content .modal-body .ekko-lightbox-container .ekko-lightbox-nav-overlay .glyphicon-left:hover {
              background-color: #424242; }

#vendor-add, #vendor-edit {
  padding-top: 120px; }
  #vendor-add #add-form, #vendor-edit #add-form {
    padding: 40px 0; }
    #vendor-add #add-form textarea, #vendor-edit #add-form textarea {
      height: 329px;
      width: 100%; }
    #vendor-add #add-form .chosen-single, #vendor-add #add-form .chosen-drop, #vendor-edit #add-form .chosen-single, #vendor-edit #add-form .chosen-drop {
      border-radius: 0; }
    #vendor-add #add-form input, #vendor-add #add-form .chosen-container, #vendor-edit #add-form input, #vendor-edit #add-form .chosen-container {
      width: 100% !important;
      margin: 5px 0; }
    #vendor-add #add-form input, #vendor-edit #add-form input {
      height: 25px; }
    #vendor-add #add-form label, #vendor-edit #add-form label {
      margin: 5px 0; }
    #vendor-add #add-form .featured-select, #vendor-edit #add-form .featured-select {
      text-align: center; }
      #vendor-add #add-form .featured-select .wrapper, #vendor-edit #add-form .featured-select .wrapper {
        display: inline-block;
        border: 1px solid #4d4d4d;
        padding: 20px;
        margin-bottom: 20px; }
        #vendor-add #add-form .featured-select .wrapper .form-label, #vendor-edit #add-form .featured-select .wrapper .form-label {
          margin-right: 10px; }
        #vendor-add #add-form .featured-select .wrapper input, #vendor-edit #add-form .featured-select .wrapper input {
          position: absolute;
          width: 0 !important;
          margin: 0;
          padding: 0;
          opacity: 0; }
        #vendor-add #add-form .featured-select .wrapper .featured-radio-label, #vendor-edit #add-form .featured-select .wrapper .featured-radio-label {
          font-family: "Lato Light";
          text-align: center;
          font-size: 15px;
          border: 1px solid #282828;
          opacity: 0.5;
          cursor: pointer;
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          padding: 2px;
          width: 40px; }
          #vendor-add #add-form .featured-select .wrapper .featured-radio-label:hover, #vendor-edit #add-form .featured-select .wrapper .featured-radio-label:hover {
            opacity: 1;
            background: #fff;
            color: #282828;
            border: 1px solid #282828; }
        #vendor-add #add-form .featured-select .wrapper .is-featured-radio:checked + .featured-radio-label, #vendor-edit #add-form .featured-select .wrapper .is-featured-radio:checked + .featured-radio-label {
          opacity: 1;
          background: #282828;
          color: #fff;
          border: 1px solid #fff; }
          #vendor-add #add-form .featured-select .wrapper .is-featured-radio:checked + .featured-radio-label:hover, #vendor-edit #add-form .featured-select .wrapper .is-featured-radio:checked + .featured-radio-label:hover {
            opacity: 0.8; }
    #vendor-add #add-form .featured-image-area input, #vendor-edit #add-form .featured-image-area input {
      margin-top: 0; }
    #vendor-add #add-form .featured-image-area .form-label, #vendor-edit #add-form .featured-image-area .form-label {
      margin-top: 20px;
      height: auto;
      width: 100%;
      text-align: center;
      cursor: default; }
    #vendor-add #add-form .featured-image-area #featured_image, #vendor-edit #add-form .featured-image-area #featured_image {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
      #vendor-add #add-form .featured-image-area #featured_image:focus + .featured-image-button, #vendor-edit #add-form .featured-image-area #featured_image:focus + .featured-image-button {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px; }
    #vendor-add #add-form .featured-image-area .featured-image-button, #vendor-edit #add-form .featured-image-area .featured-image-button {
      margin-top: 10px;
      width: 100%;
      height: 140px;
      cursor: pointer;
      font-weight: 300; }
      #vendor-add #add-form .featured-image-area .featured-image-button span, #vendor-edit #add-form .featured-image-area .featured-image-button span {
        line-height: 140px; }
    #vendor-add #add-form .featured-image-area #featured_image + .featured-image-button *, #vendor-edit #add-form .featured-image-area #featured_image + .featured-image-button * {
      pointer-events: none; }
    #vendor-add #add-form .featured-image-area #thumbnail-wrapper, #vendor-edit #add-form .featured-image-area #thumbnail-wrapper {
      height: 140px;
      margin-top: 10px;
      background-size: cover;
      backgroud-repeat: no-repeat;
      background-position: center center; }
      #vendor-add #add-form .featured-image-area #thumbnail-wrapper .placeholder, #vendor-edit #add-form .featured-image-area #thumbnail-wrapper .placeholder {
        background-image: url("../images/placeholder.jpg"); }
      #vendor-add #add-form .featured-image-area #thumbnail-wrapper .helper, #vendor-edit #add-form .featured-image-area #thumbnail-wrapper .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      #vendor-add #add-form .featured-image-area #thumbnail-wrapper #featured-thumbnail, #vendor-edit #add-form .featured-image-area #thumbnail-wrapper #featured-thumbnail {
        vertical-align: middle;
        max-width: 100%;
        max-height: 140px; }
    #vendor-add #add-form .featured-image-area p, #vendor-edit #add-form .featured-image-area p {
      margin: 5px 0;
      font-family: "Lato Light";
      font-weight: 700; }
    #vendor-add #add-form .submit-area, #vendor-edit #add-form .submit-area {
      margin-top: 10px; }
      #vendor-add #add-form .submit-area .add-submit, #vendor-edit #add-form .submit-area .add-submit {
        height: 45px;
        background: #fff;
        width: 100%;
        border: 1px solid #282828; }
        #vendor-add #add-form .submit-area .add-submit:hover, #vendor-edit #add-form .submit-area .add-submit:hover {
          background: #e6e6e6; }
      #vendor-add #add-form .submit-area #edit-gallery, #vendor-edit #add-form .submit-area #edit-gallery {
        display: block;
        margin: 5px 0;
        color: #282828;
        text-decoration: none;
        text-align: center;
        height: 45px;
        line-height: 45px;
        background: #fff;
        width: 100%;
        border: 1px solid #282828; }
        #vendor-add #add-form .submit-area #edit-gallery:hover, #vendor-edit #add-form .submit-area #edit-gallery:hover {
          background: #f2f2f2; }
      #vendor-add #add-form .submit-area .delete-submit, #vendor-edit #add-form .submit-area .delete-submit {
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin: 5px 0;
        line-height: 45px;
        display: block;
        height: 45px;
        background: #282828;
        width: 100%;
        border: none; }
        #vendor-add #add-form .submit-area .delete-submit:hover, #vendor-edit #add-form .submit-area .delete-submit:hover {
          background: #424242; }

#review-vendor {
  padding-top: 160px;
  padding-bottom: 60px; }
  #review-vendor #reviewText, #review-vendor #reviewTitle {
    width: 100%; }
  #review-vendor #review-form .main-label {
    font-family: "Lato Light";
    margin-top: 5px; }
  #review-vendor #review-form .ratingWrapper {
    overflow: hidden;
    display: flex; }
    #review-vendor #review-form .ratingWrapper .five-star {
      order: 5; }
    #review-vendor #review-form .ratingWrapper .four-star {
      order: 4; }
    #review-vendor #review-form .ratingWrapper .three-star {
      order: 3; }
    #review-vendor #review-form .ratingWrapper .two-star {
      order: 2; }
    #review-vendor #review-form .ratingWrapper .one-star {
      order: 1; }
    #review-vendor #review-form .ratingWrapper .starRating {
      float: right;
      width: 30px;
      height: 30px;
      padding: 0;
      margin: 0 0 0 -20px;
      display: none; }
    #review-vendor #review-form .ratingWrapper .ratingLabel {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #bcbcbc;
      background-image: url("../images/star-rating-stars.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.2s all; }
      #review-vendor #review-form .ratingWrapper .ratingLabel:hover {
        background-color: black; }
    #review-vendor #review-form .ratingWrapper .ratingLabel:hover ~ .ratingLabel {
      background-color: black !important; }
    #review-vendor #review-form .ratingWrapper .starRating:checked ~ .ratingLabel {
      background-color: #424242; }
      #review-vendor #review-form .ratingWrapper .starRating:checked ~ .ratingLabel:hover {
        background-color: black; }
      #review-vendor #review-form .ratingWrapper .starRating:checked ~ .ratingLabel:hover ~ .ratingLabel {
        background-color: black; }
  #review-vendor #review-form #userupl {
    display: none; }
  #review-vendor #review-form .button-light {
    cursor: pointer;
    margin: 15px 0 0 0; }
  #review-vendor #review-form #imagePreview {
    text-align: center; }
    #review-vendor #review-form #imagePreview .userImageBox {
      position: relative;
      width: 100%;
      height: 150px;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #282828; }
      #review-vendor #review-form #imagePreview .userImageBox .userImage {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        max-height: 130px; }

#gallery-delete-page {
  padding-top: 120px;
  padding-bottom: 40px; }
  #gallery-delete-page .upload-gallery-area {
    margin: 20px 0; }
  #gallery-delete-page #upload-gallery #upl {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    #gallery-delete-page #upload-gallery #upl:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px; }
  #gallery-delete-page #upload-gallery label {
    cursor: pointer;
    font-weight: 300; }
  #gallery-delete-page #upload-gallery #upl + label * {
    pointer-events: none; }
  #gallery-delete-page .delete-box {
    height: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    text-align: center; }
    #gallery-delete-page .delete-box:hover {
      background: #f2f2f2; }
    #gallery-delete-page .delete-box .delete-form {
      display: inline-block; }
    #gallery-delete-page .delete-box .delete-photo {
      height: 150px; }
      #gallery-delete-page .delete-box .delete-photo img {
        display: block;
        margin: auto;
        max-width: 200px;
        max-height: 140px; }

#login-page, #register-page {
  padding-top: 120px;
  padding-bottom: 40px; }
  #login-page h3, #register-page h3 {
    margin-bottom: 40px;
    border-bottom: none; }
  #login-page .right, #register-page .right {
    margin-left: 7.5px; }
  #login-page .left, #register-page .left {
    margin-right: 7.5px; }
  #login-page .submit, #register-page .submit {
    font-family: "Lato Light";
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 45px;
    display: block;
    height: 45px;
    background: #282828;
    width: 100%;
    border: none; }
    #login-page .submit:hover, #register-page .submit:hover {
      background: #424242; }

#user-profile {
  padding-top: 120px;
  padding-bottom: 40px; }
  #user-profile p {
    font-family: "Lato Light";
    font-size: 16px; }
  #user-profile h3 {
    margin-bottom: 40px;
    border-bottom: none; }
  #user-profile .button-light {
    margin: 0 0 5px 0; }
    #user-profile .button-light.active {
      background-color: #282828;
      color: #fff;
      cursor: default; }
  #user-profile .favorite-box {
    padding: 0 0 20px 0; }
    #user-profile .favorite-box .feat-img {
      position: relative;
      height: 220px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #user-profile .favorite-box .desc-wrapper {
      height: 220px; }
    #user-profile .favorite-box .desc-box {
      padding: 10px;
      background: #fff;
      height: 160px;
      width: 100%;
      position: relative;
      left: -60px;
      margin-top: 30px; }
      #user-profile .favorite-box .desc-box h2 {
        font-family: "Playfair Display";
        margin: 0 0 5px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #282828; }
    #user-profile .favorite-box .vend-info {
      padding-top: 10px;
      border-top: 1px solid #282828; }
      #user-profile .favorite-box .vend-info span {
        font-size: 14px;
        font-family: "Lato Light";
        font-weight: 700;
        color: #282828; }
      #user-profile .favorite-box .vend-info .vend-add, #user-profile .favorite-box .vend-info .vend-phone {
        font-family: "Lato Light";
        color: #828282;
        font-size: 14px;
        margin-bottom: 5px; }
    #user-profile .favorite-box .vend-view {
      position: absolute;
      bottom: 10px;
      right: 0;
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 15px 20px 5px 0;
      font-size: 18px;
      line-height: 40px;
      display: block;
      height: 40px;
      width: 120px;
      background: #282828;
      border: none; }
      #user-profile .favorite-box .vend-view:hover {
        background: #424242; }
  #user-profile #userReviews, #user-profile #userGallery {
    visibility: hidden; }
  #user-profile #userReviews .reviewHead {
    text-align: right; }
    #user-profile #userReviews .reviewHead .reviewUser {
      color: #282828;
      font-weight: 700;
      transition: all 0.2s;
      margin-bottom: 10px;
      border: 1px solid #fff;
      display: inline-block; }
      #user-profile #userReviews .reviewHead .reviewUser:hover {
        border-bottom: 1px solid #282828; }
    #user-profile #userReviews .reviewHead .reviewDelete {
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      height: 30px;
      width: 80px;
      background: #282828;
      border: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #user-profile #userReviews .reviewHead .reviewDelete:hover {
        background: #424242; }
  #user-profile #userReviews .reviewDate {
    color: #828282;
    font-size: 14px; }
  #user-profile #userReviews .review-body {
    border-bottom: 1px solid #282828;
    margin-bottom: 40px; }
    #user-profile #userReviews .review-body .reviewRating {
      font-family: "Lato Light";
      padding-left: 0; }
    #user-profile #userReviews .review-body .reviewTitle {
      font-weight: 700;
      font-size: 16px; }
    #user-profile #userReviews .review-body .reviewText {
      margin-bottom: 20px; }
    #user-profile #userReviews .review-body .reviewGallery {
      padding: 0 10px; }
      #user-profile #userReviews .review-body .reviewGallery .reviewPhoto {
        height: 100px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: none;
        margin: 0 0 10px 0;
        transition: 0.2s all; }
        #user-profile #userReviews .review-body .reviewGallery .reviewPhoto:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px #282828; }
  #user-profile #userGallery h3 {
    margin: 35px auto 35px auto; }
  #user-profile #userGallery .grid-sizer {
    width: 25%; }
  #user-profile #userGallery .photo-item {
    position: relative;
    width: 24%;
    margin-bottom: 10px; }
    #user-profile #userGallery .photo-item img {
      width: 100%;
      box-shadow: none;
      -webkit-transition: all 0.2s;
      /* Safari */
      transition: all 0.2s; }
      #user-profile #userGallery .photo-item img:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px #282828; }

#admin {
  padding-top: 120px;
  padding-bottom: 40px;
  height: calc(100vh - 280px);
  min-height: 267px;
  width: 100%;
  display: table;
  text-align: center; }
  #admin .adminArea {
    align-self: center;
    display: table-cell;
    vertical-align: middle; }
  #admin h3 {
    margin-bottom: 40px; }
  #admin .addVendor {
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
    padding: 0 10px 10px 0; }
  #admin .vendorList {
    border-bottom: 1px solid #282828;
    padding: 0 0 10px 10px; }
  #admin .pendingVendors {
    border-right: 1px solid #282828;
    padding: 10px 10px 0 0; }
  #admin .userList {
    padding: 10px 0 0 10px; }
  #admin .adminButton {
    font-family: "Lato Light";
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 80px;
    display: block;
    height: 80px;
    background: #282828;
    width: 100%;
    border: none; }
    #admin .adminButton:hover {
      background: #424242; }

#users-list {
  padding-top: 160px; }
  #users-list #user-list-header {
    height: 160px;
    background-color: #282828; }
    #users-list #user-list-header .user-list-title h3 {
      margin: 35px auto 35px auto; }
    #users-list #user-list-header .filters .filter .search {
      background: #fff url("chosen-sprite.png") no-repeat 100% -20px;
      border: 1px solid #aaa;
      height: 24px; }
    #users-list #user-list-header .filters .filter label {
      font-family: "Josefin Sans";
      font-weight: 100;
      font-size: 18px;
      color: #fff; }
    #users-list #user-list-header .filters .filter input {
      font-family: "Lato Light";
      width: 100%; }
    #users-list #user-list-header .filters .filter select {
      padding: 1px;
      height: 23px;
      font-family: "Lato Light";
      width: 100%; }
    #users-list #user-list-header .filters .filter .chosen-single {
      font-family: "Lato Light";
      height: 24px;
      border-radius: 0;
      background: #fff;
      box-shadow: none; }
    #users-list #user-list-header .filters .filter .chosen-drop {
      border-radius: 0; }
    #users-list #user-list-header .filters .filter .chosen-results {
      font-family: "Lato Light"; }
  #users-list .admin-user-list-wrapper {
    background: #f4f4f4;
    padding-top: 40px; }
    #users-list .admin-user-list-wrapper .userMeta {
      height: 120px;
      margin-bottom: 15px; }
      #users-list .admin-user-list-wrapper .userMeta .button-light {
        height: 100%;
        line-height: 120px; }
    #users-list .admin-user-list-wrapper .profileButton {
      position: relative;
      height: 120px; }
      #users-list .admin-user-list-wrapper .profileButton .button-light {
        height: 115px;
        line-height: 115px; }
    #users-list .admin-user-list-wrapper .userVendors, #users-list .admin-user-list-wrapper .userAssign {
      height: 120px;
      float: none;
      display: table-cell;
      vertical-align: bottom; }
      #users-list .admin-user-list-wrapper .userVendors h4, #users-list .admin-user-list-wrapper .userAssign h4 {
        position: relative;
        top: 50%;
        text-align: center;
        -webkit-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
        transform: translateY(-300%); }
      #users-list .admin-user-list-wrapper .userVendors .userOwned, #users-list .admin-user-list-wrapper .userAssign .userOwned {
        display: none; }
    #users-list .admin-user-list-wrapper .user {
      width: 100%;
      height: 100%;
      background: #fff;
      margin: 15px 0;
      padding: 10px;
      font-family: "Lato Light";
      font-size: 16px; }
      #users-list .admin-user-list-wrapper .user span {
        font-weight: 700; }
      #users-list .admin-user-list-wrapper .user .userOwnedLabel {
        font-weight: 700; }
    #users-list .admin-user-list-wrapper select {
      padding: 1px;
      height: 23px;
      font-family: "Lato Light";
      width: 100%; }
    #users-list .admin-user-list-wrapper .chosen-single {
      font-family: "Lato Light";
      height: 24px;
      border-radius: 0;
      background: #fff;
      box-shadow: none; }
    #users-list .admin-user-list-wrapper .chosen-drop {
      border-radius: 0; }
    #users-list .admin-user-list-wrapper .chosen-results {
      font-family: "Lato Light"; }
    #users-list .admin-user-list-wrapper .userAssignSubmit, #users-list .admin-user-list-wrapper .userUnassignSubmit {
      font-family: "Josefin Sans";
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;
      height: 40px;
      width: 100%;
      background: #282828;
      border: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #users-list .admin-user-list-wrapper .userAssignSubmit:hover, #users-list .admin-user-list-wrapper .userUnassignSubmit:hover {
        background: #424242; }

#contact-page {
  padding-top: 120px;
  padding-bottom: 40px; }
  #contact-page h3 {
    margin: 35px auto 35px auto; }
  #contact-page input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px; }
  #contact-page textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 200px; }
  #contact-page .button-light {
    margin-top: 0;
    height: 45px; }

#claim-business-page {
  padding-top: 120px;
  padding-bottom: 40px; }
  #claim-business-page h3 {
    margin: 35px auto 35px auto; }
  #claim-business-page h4 {
    font-family: "Josefin Sans Bold";
    text-align: center;
    margin: 30px 0 10px 0; }
  #claim-business-page .description {
    font-family: "Lato Light";
    font-size: 16px;
    text-align: center;
    margin-top: 10px; }
  #claim-business-page #businessContact {
    display: none; }
    #claim-business-page #businessContact .title {
      text-align: center;
      font-size: 16px;
      font-family: "Lato Light";
      font-weight: 700;
      margin-top: 15px; }
    #claim-business-page #businessContact .businessInfo {
      font-family: "Lato Light";
      font-size: 16px;
      text-align: center; }
  #claim-business-page label {
    font-family: "Lato Light";
    line-height: 30px;
    font-size: 16px; }
  #claim-business-page input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px; }
  #claim-business-page select {
    padding: 1px;
    height: 29px;
    font-family: "Lato Light";
    width: 100%; }
  #claim-business-page .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 5px; }
  #claim-business-page .chosen-single {
    font-family: "Lato Light";
    height: 30px;
    border-radius: 0;
    background: #fff;
    box-shadow: none; }
    #claim-business-page .chosen-single span {
      line-height: 29px; }
    #claim-business-page .chosen-single div b {
      background: url(chosen-sprite.png) no-repeat 0px 5px; }
  #claim-business-page .chosen-drop {
    border-radius: 0; }
  #claim-business-page .chosen-results {
    font-family: "Lato Light"; }
  #claim-business-page .button-light {
    margin-top: 20px;
    height: 45px; }

#message-modal .modal-content, #delete-modal .modal-content {
  margin: 0 100px;
  padding: 20px;
  color: #282828;
  text-align: center;
  border-radius: 0; }
  #message-modal .modal-content button, #delete-modal .modal-content button {
    background: #fff;
    height: 45px;
    margin: 5px 0;
    color: #282828;
    border: 1px solid #282828;
    border-radius: 0;
    width: 100%; }
    #message-modal .modal-content button:hover, #delete-modal .modal-content button:hover {
      background: #e6e6e6; }
  #message-modal .modal-content .notdisplay, #delete-modal .modal-content .notdisplay {
    display: none; }
  #message-modal .modal-content #delete-modal-confirm, #message-modal .modal-content #dismiss-button, #delete-modal .modal-content #delete-modal-confirm, #delete-modal .modal-content #dismiss-button {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 5px 0 5px 0;
    display: block;
    height: 45px;
    background: #282828;
    width: 100%;
    border: none; }
    #message-modal .modal-content #delete-modal-confirm:hover, #message-modal .modal-content #dismiss-button:hover, #delete-modal .modal-content #delete-modal-confirm:hover, #delete-modal .modal-content #dismiss-button:hover {
      background: #424242; }
    #message-modal .modal-content #delete-modal-confirm.notdisplay, #message-modal .modal-content #dismiss-button.notdisplay, #delete-modal .modal-content #delete-modal-confirm.notdisplay, #delete-modal .modal-content #dismiss-button.notdisplay {
      display: none; }

#mastfooter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 230px; }
  #mastfooter .main-footer {
    height: 180px;
    background-color: #282828; }
    #mastfooter .main-footer .footer-logo {
      position: relative;
      top: 50%;
      transform: translateY(50%); }
      #mastfooter .main-footer .footer-logo img {
        height: 90px; }
    #mastfooter .main-footer .footerButton {
      position: relative;
      top: 50%;
      transform: translateY(50%); }
      #mastfooter .main-footer .footerButton .button-light {
        width: 220px;
        margin: 0 auto; }
      #mastfooter .main-footer .footerButton .footerDesc {
        font-family: "Lato Light";
        color: #fff;
        text-align: center;
        font-size: 16px; }
    #mastfooter .main-footer .social-media {
      text-align: right;
      height: 40px;
      position: relative;
      top: 50%;
      transform: translateY(180%); }
      #mastfooter .main-footer .social-media .social-button {
        display: inline-block;
        vertical-align: middle; }
        #mastfooter .main-footer .social-media .social-button a {
          margin: 0 10px;
          display: block;
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          color: #fff;
          text-decoration: none; }
        #mastfooter .main-footer .social-media .social-button .socicon-instagram {
          background: -webkit-linear-gradient(-110deg, #8a3ab9, #4c68d7, #cd486b, #fbad50, #fbad50);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
          #mastfooter .main-footer .social-media .social-button .socicon-instagram.ghost {
            position: absolute;
            background: #fff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
        #mastfooter .main-footer .social-media .social-button .socicon-facebook:hover {
          color: #3e5b98; }
        #mastfooter .main-footer .social-media .social-button .socicon-twitter:hover {
          color: #4da7de; }
        #mastfooter .main-footer .social-media .social-button .ghost:hover {
          opacity: 0; }
        #mastfooter .main-footer .social-media .social-button .socicon-pinterest:hover {
          color: #c92619; }
  #mastfooter .sub-footer {
    height: 50px;
    line-height: 50px;
    text-align: center; }
    #mastfooter .sub-footer a {
      font-family: "Josefin Sans";
      color: #282828; }
      #mastfooter .sub-footer a:hover {
        text-decoration: none;
        border-bottom: 1px solid #282828; }

/*# sourceMappingURL=style.css.map */
