//Fonts
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'socicon';
  src: url('../fonts/socicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Variables
$header-height:120px;
$footer-height:180px;
$color-gray:#282828;
$color-lgray:#828282;
$font-header: 'Josefin Sans';
$font-header-bold: 'Josefin Sans Bold';
$font-title: 'Playfair Display';
$font-main: 'Lato Light';
$font-mainlight: 'Lato Hairline';


//Styling-------------------------------------Styling//
html {
  position: relative;
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 230px;
}

a {
  color: #00B7FF;
}

//General Styling-------------------------------------------------General Styling//
.button-dark {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: $font-header;
  text-transform: uppercase;
  margin: 15px 0 5px 0;
  display: block;
  height: 45px;
  background: $color-gray;
  width: 100%;
  border: none;

  &:hover {
    background: lighten($color-gray, 10%);
  }
}

.button-light {
  display: block;
  margin: 5px 0;
  color: $color-gray;
  font-family: $font-header;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background: #fff;
  width: 100%;
  border: 1px solid $color-gray;

  &:hover {
    background: darken(#fff, 5%);
  }
}

//Header Styling-------------------------------------------------Header Styling//
.landing-video {
  iframe {
    width: 100%;
    height: calc(100vh - #{$header-height});
  }
}
#masthead{
  text-align: center;
  background-color: #fff;
  height: $header-height;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;

  &.catch-header{
    position: fixed;
    top: 0;
    z-index: 5;
    height: 80px;
    box-shadow: 0px 2px 10px $color-gray;

    .logo-area {
      img {
        padding: 0 40px 0 40px;
      }
    }
    h3{font-size: 18px;}

    .user-area{a{margin-top: 25px;}
    }
  }

  h3 {
    color: $color-gray;
    font-family: $font-header;
    font-weight: 100;
    border-bottom: 1px solid #fff;

    &:hover{
      border-bottom: 1px solid $color-gray;
    }
  }

  .right-nav, .left-nav, .logo-area {
    display:inline-block;
    vertical-align: middle;
    margin-top: 17px;
  }

  .right-nav, .left-nav {
    width: 160px;
  }

  .right-nav {
    h3 {
      float: left;
      margin-top: 10px;
      -webkit-transition: all 0.1s; /* Safari */
      transition: all 0.1s;
    }
  }

  .left-nav {
    h3 {
      float: right;
      margin-top: 10px;
      -webkit-transition: all 0.2s; /* Safari */
      transition: all 0.2s;
    }
  }

  .logo-area {
    img {
      width: 200px;
      -webkit-transition: all 0.2s; /* Safari */
      transition: all 0.2s;
    }
  }

  .user-area {
    a {
      font-family: $font-header;
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 40px 20px 5px 0;
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      height: 30px;
      width: 80px;
      background: $color-gray;
      border: none;
      -webkit-transition: all 0.1s; /* Safari */
      transition: all 0.1s;

      &:hover {
        background: lighten($color-gray, 10%);
      }
    }
  }
}
//Home Page Styling---------------------------------------------------Home Page Styling//
#featured-vendor{
  margin-top: $header-height;
  margin-bottom: 40px;

  .slick-arrow {
    background-color: $color-gray;
    cursor: pointer;

    &:hover {background-color: lighten($color-gray, 10%);}
  }

  .slick-prev{
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 120px;
  }

  .slick-next{
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 120px;
  }

  .slick-dots{
    text-align: center;
    padding-left: 0;
    margin-top: 10px;

    li {
      display: inline-block;
      width: 10px;
      margin: 0 10px;

      &.slick-active{
        button {background: $color-gray;}
      }

      button {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        border: 1px solid $color-gray;
        background: #fff;
        padding: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $color-gray;
        }
      }
    }
  }

  h3 {
    text-align: center;
    margin: 35px auto 35px auto;
    font-family: $font-header;
    font-weight: 100;
    color: $color-gray;
  }

  .featured-box{
    padding: 20px 0;
    position: relative;
    opacity: 0.15;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    &.slick-center{
      opacity: 1;
    }
    .feat-img{
      height: 340px;
    }
    .desc-box{
      background-color: #fff;
      width: 660px;
      height: 280px;
      position: absolute;
      padding: 10px 20px;
      top: 30px;
      right: 40px;


      h2 {
        font-family: $font-title;
        margin: 0 0 5px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: $color-gray;
      }

      .vend-cat{
        font-family: $font-main;
        font-size: 14px;
        color: $color-gray;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border-bottom: 1px solid $color-gray;
      }

      .overflow-box{
        height: 110px;

        .vend-desc {
          font-family: $font-main;
          font-size: 16px;
          color: $color-gray;
          line-height: 20px;
          margin: 10px 0;
        }
      }


      .vend-info{
        padding-top: 10px;
        border-top: 1px solid $color-gray;
        span {
          font-size: 14px;
          font-family: $font-main;
          font-weight:700;
          color: $color-gray;
        }

        .vend-add, .vend-phone {
          font-family: $font-main;
          color: $color-lgray;
          font-size: 14px;
          margin-bottom: 5px;
        }
      }

      .vend-view{
        position: absolute;
        bottom: 10px;
        right: 0;
        font-family: $font-header;
        text-decoration: none;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 15px 20px 5px 0;
        font-size: 18px;
        line-height: 40px;
        display: block;
        height: 40px;
        width: 120px;
        background: $color-gray;
        border: none;

        &:hover {
          background: lighten($color-gray, 10%);
        }
      }
    }
  }
}

#vendor-list-header{
  height: 160px;
  background-color: $color-gray;

  .vend-list-title {
    h3{
      text-align: center;
      margin: 35px auto 35px auto;
      font-family: $font-header;
      font-weight: 100;
      color: #fff;
    }
  }

  //----------------Price Filter Styling
  .price-filter {
    label {display: block;}
    input {
      position: absolute;
      margin:0;padding:0;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }

    .flex-wrapper{display:flex;}

    .no-dollar{
      order: 5;
      //background-image: url('/images/dollar-none.png');
      opacity: 0.5;
      &:hover{
        //background-image: url('/images/dollar-none.png');
        opacity: 1;
      }
    }

    .one-dollar{order:1;}
    .two-dollar{order:2;}
    .three-dollar{order:3;}
    .four-dollar{order:4;}

    #noDollar:checked{
      & ~ .no-dollar{
        opacity: 1;
      }
    }

    .one-dollar, .two-dollar, .three-dollar, .four-dollar{
      opacity: 0.5;
      background-image: url('/images/dollar-sign.png');
      &:hover{opacity: 1;}
    }

    #oneDollar:checked{
      & ~ .one-dollar{opacity: 1;}
    }

    .two-dollar:hover, #twoDollar:checked{
      & ~ .one-dollar, & ~ .two-dollar{opacity: 1;}
    }

    .three-dollar:hover, #threeDollar:checked{
      & ~ .one-dollar, & ~ .two-dollar, & ~ .three-dollar{opacity: 1;}
    }

    .four-dollar:hover, #fourDollar:checked{
      & ~ .one-dollar, & ~ .two-dollar, & ~ .three-dollar, & ~ .four-dollar{opacity: 1;}
    }

    .price-radio{
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      width:20px;height:20px;
    }
  }

  .filters{
    .filter{
      .search{
        background:#fff url('chosen-sprite.png') no-repeat 100% -20px;
        border: 1px solid #aaa;
        height: 24px;
      }
      label{
        font-family: $font-header;
        font-weight: 100;
        font-size: 18px;
        color: #fff;
      }
      .no-dollar{
        font-family: $font-header-bold;
        font-size: 19px;
        margin-top: -1px;
        margin-left: 5px;
      }
      input{
        font-family: $font-main;
        width: 100%;
      }
      select{
        padding: 1px;
        height: 23px;
        font-family: $font-main;
        width: 100%;
      }
      .chosen-single{
        font-family: $font-main;
        height: 24px;
        border-radius:0;
        background: #fff;
        box-shadow: none;
      }
      .chosen-drop{border-radius:0;}
      .chosen-results{font-family: $font-main;}
    }
  }


}
#vendor-list{
  padding-top: 40px;

  .paginationBottom, .paginationTop{
    text-align:center;
    list-style-type:none;
    li{
      margin: 0 5px;
      position:relative;
      display:inline-block;
      height:40px;
      width:40px;
      border:1px solid $color-gray;

      &:hover, &.active{
        background: $color-gray;

        a{color:#fff;}
      }

      a{
        font-family: $font-main;
        font-size: 16px;
        text-decoration: none;
        color:$color-gray;
        line-height: 40px;
        display:block;
        height:38px;
        width:38px;

      }
    }
  }

  .paginationBottom{margin-bottom: 20px;}

  .box{
    padding: 20px 0;
    .feat-img{
      height: 220px;
    }
    .desc-box{
      background-color: #fff;
      width: 300px;
      height: 190px;
      position: absolute;
      padding: 10px 20px;
      top: 35px;
      right: 20px;

      h2 {
        font-family: $font-title;
        margin: 0 0 5px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: $color-gray;
      }

      .vendCat{
        font-family: $font-main;
        font-size: 14px;
        color: $color-gray;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border-bottom: 1px solid $color-gray;
      }

      .vend-add{
        font-family: $font-main;
        color: $color-lgray;
        font-size: 14px;
        margin-bottom: 0px;
      }

      .vend-view{
        position: absolute;
        bottom: 10px;
        right: 0;
        font-family: $font-header;
        text-decoration: none;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 15px 20px 5px 0;
        font-size: 18px;
        line-height: 40px;
        display: block;
        height: 40px;
        width: 120px;
        background: $color-gray;
        border: none;

        &:hover {
          background: lighten($color-gray, 10%);
        }
      }
    }
  }
}

#no-vendors{
  display: none;
  h4{
    font-family: $font-main;
  }
}

//Single Vendor Page Styling-----------------------------------------------Single Vendor Page Styling//
#vendor-single{
  padding-top: $header-height;

  #vendor-description {
    padding: 40px 0 140px 0;

    .feat-img {
      width: 100%;
    }

    .info-box{
      width: 300px;
      height: 160px;
      padding: 10px 20px;
      position: absolute;
      background-color: #fff;
      top: 240px;
      left: 90px;

      .vend-info{
        span {
          font-size: 14px;
          font-family: $font-main;
          font-weight:700;
          color: $color-gray;
        }

        .vend-add, .vend-phone {
          font-family: $font-main;
          color: $color-lgray;
          font-size: 14px;
          margin-bottom: 5px;
        }
      }

      .vend-link{
        width: 100%;
        margin-top: 5px;
        border-top: 1px solid $color-gray;

        .vend-web{
          position: absolute;
          bottom: 10px;
          right: 0;
          font-family: $font-header;
          text-decoration: none;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          margin: 15px 20px 5px 0;
          font-size: 18px;
          line-height: 40px;
          display: block;
          height: 40px;
          width: 160px;
          background: $color-gray;
          border: none;

          &:hover {
            background: lighten($color-gray, 10%);
          }
        }
      }
    }

    h2 {
      font-family: $font-title;
      font-size: 36px;
      margin-top:0;
      padding-bottom: 5px;
      border-bottom: 1px solid $color-gray;
    }

    .vend-cat {
      font-family: $font-main;
      font-size: 14px;
      color: $color-lgray;
    }

    .vend-desc {
      font-family: $font-main;
      font-size: 16px;
      color: $color-gray;
      line-height: 20px;
    }

    .vend-edit-link{
      position: absolute;
      top: -20px;
      right: 0;
      font-family: $font-header;
      text-decoration: none;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 15px 20px 5px 0;
      font-size: 18px;
      line-height: 40px;
      display: block;
      height: 40px;
      width: 160px;
      background: $color-gray;
      border: none;

      &:hover {
        background: lighten($color-gray, 10%);
      }
    }
  }

  #vendor-gallery {
    h3{
      text-align: center;
      margin: 35px auto 35px auto;
      font-family: $font-header;
      font-weight: 100;
      color: $color-gray;
    }

    .grid-item{
      img{
        max-width: 200px;
        margin: 10px;
      }
    }
  }

}

//Add and Edit Vendor Page Styling----------------------------------------------------Add and Edit Vendor Page Styling//
#vendor-add, #vendor-edit {
  padding-top: $header-height;

  h3 {
    text-align: center;
    font-family: $font-header;
  }

  #add-form {
    padding: 40px 0;

    textarea {
      height: 300px;
      width: 100%;
    }

    .chosen-single, .chosen-drop{
      border-radius: 0;
    }

    input, .chosen-container {
      width: 100% !important;
      margin: 5px 0;
    }

    label {
      margin: 5px 0;
    }

    .submit-area {
      margin-top: 10px;

      .add-submit {
        height: 45px;
        background: #fff;
        width: 100%;
        border: 1px solid $color-gray;

        &:hover {
          background: darken(#fff, 10%);
        }
      }

      #edit-gallery {
        display: block;
        margin: 5px 0;
        color: $color-gray;
        text-decoration: none;
        text-align: center;
        height: 45px;
        line-height: 45px;
        background: #fff;
        width: 100%;
        border: 1px solid $color-gray;

        &:hover {
          background: darken(#fff, 5%);
        }
      }

      .delete-submit {
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin: 5px 0;
        line-height: 45px;
        display: block;
        height: 45px;
        background: $color-gray;
        width: 100%;
        border: none;

        &:hover {
          background: lighten($color-gray, 10%);
        }
      }
    }
  }
}


//Gallery Delete Page Styling-----------------------------------------------Gallery Delete Page Styling
#gallery-delete-page {
  padding-top: $header-height;
  padding-bottom:40px;

  h3 {
    text-align: center;
    font-family: $font-header;
  }

  .upload-gallery-area {
    margin: 20px 0;
  }

  #upload-gallery{
    #upl{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:focus + label{
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
    label {
      cursor: pointer;
      font-weight: 300;
    }

    #upl + label * {
      pointer-events: none;
    }
  }

  .delete-box {
    height: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid darken(#fff, 10%);
    text-align: center;

    &:hover {
      background: darken(#fff, 5%);
    }

    .delete-form {
      display: inline-block;
    }

    .delete-photo {
      height: 150px;

      img{
        display: block;
        margin: auto;
        max-width: 200px;
        max-height: 140px;
      }
    }
  }
}


//Modal styling
#message-modal, #delete-modal{

  .modal-content {
    margin: 0 100px;
    padding: 20px;
    color: $color-gray;
    text-align: center;
    border-radius: 0;

    button {
      background: #fff;
      height: 45px;
      margin: 5px 0;
      color: $color-gray;
      border: 1px solid $color-gray;
      border-radius: 0;
      width: 100%;

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    .notdisplay{display:none;}

    #delete-modal-confirm, #dismiss-button{
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin: 5px 0 5px 0;
      display: block;
      height: 45px;
      background: $color-gray;
      width: 100%;
      border: none;

      &:hover {
        background: lighten($color-gray, 10%);
      }

      &.notdisplay{display:none;}
    }
  }
}



//Footer Styling------------------------------------------------------Footer Styling//
#mastfooter{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 230px;

  .main-footer {
    height: $footer-height;
    background-color: $color-gray;

    .footer-logo{
      position: relative;
      top: 50%;
      transform: translateY(50%);
      img{
        height: 90px;
      }
    }

    .social-media{
      height: 40px;
      position: relative;
      top: 50%;
      transform: translateY(180%);

      .social-button{
        display: inline-block;
        vertical-align: middle;
        a{
          margin: 0 10px;
          display: block;
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          color: #fff;
          text-decoration: none;
        }

        .socicon-facebook:hover{color: #3e5b98;}
        .socicon-twitter:hover{color: #4da7de;}
        .socicon-instagram:hover{
          background: -webkit-linear-gradient(-110deg, #8a3ab9, #4c68d7, #cd486b, #fbad50, #fbad50);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .socicon-pinterest:hover{color: #c92619;}
      }


    }
  }
  .sub-footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    a {
      font-family: $font-header;
      color: $color-gray;

      &:hover{
        text-decoration: none;
        border-bottom: 1px solid $color-gray;
      }
    }
  }
}