//Variables
$header-height:120px;
$footer-height:260px;
$color-gray:#282828;


//Styling-------------------------------------Styling//
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

//Header Styling-------------------------------------------------Header Styling//
.landing-video {
  iframe {
    width: 100%;
    height: calc(100vh - #{$header-height});
  }
}
#masthead{
  text-align: center;
  background-color: #fff;
  height: $header-height;

  .right-nav, .left-nav, .logo-area {
    display:inline-block;
  }

  .right-nav, .left-nav {
    width: 200px;
  }

  .right-nav {
    h3 {
      float: left;
    }
  }

  .left-nav {
    h3 {
      float: right;
    }
  }

  .logo-area {
    img {
      width: 200px;
    }
  }
}

//Add-form Styling----------------------------------------------------Add-form Styling//
#add-form {
  padding: 40px 0;

  textarea {
    height: 300px;
    width: 100%;
  }

  input, .chosen-container {
    width: 100% !important;
    margin: 5px 0;
  }

  label {
    margin: 5px 0;
  }

  .submit-area {
    margin-top: 10px;

    .add-submit {
      height: 45px;
      background: #fff;
      width: 100%;
      border: 1px solid $color-gray;

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    .delete-submit {
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin: 5px 0;
      line-height: 45px;
      display: block;
      height: 45px;
      background: $color-gray;
      width: 100%;
      border: none;

      &:hover {
        background: lighten($color-gray, 10%);
      }
    }
  }
}

//Modal styling
#message-modal, #delete-modal{

  .modal-content {
    margin: 0 100px;
    padding: 20px;
    color: $color-gray;
    text-align: center;
    border-radius: 0;

    button {
      background: #fff;
      height: 45px;
      margin: 5px 0;
      color: $color-gray;
      border: 1px solid $color-gray;
      border-radius: 0;
      width: 100%;

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    .notdisplay{display:none;}

    #delete-modal-confirm, #dismiss-button{
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin: 15px 0 5px 0;
      display: block;
      height: 45px;
      background: $color-gray;
      width: 100%;
      border: none;

      &:hover {
        background: lighten($color-gray, 10%);
      }

      &.notdisplay{display:none;}
    }
  }
}



//Footer Styling------------------------------------------------------Footer Styling//
#mastfooter{
  .main-footer {
    .footer-logo{
      position: relative;
      top: 50%;
      transform: translateY(50%);
    }
    height: $footer-height;
    background-color: $color-gray;
  }
  .sub-footer{
    height: 50px;
    line-height: 50px;
  }
}