body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.button-dark {
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 15px 0 5px 0;
  display: block;
  height: 45px;
  background: #282828;
  width: 100%;
  border: none; }
  .button-dark:hover {
    background: #424242; }

.button-light {
  display: block;
  margin: 5px 0;
  color: #282828;
  text-decoration: none;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background: #fff;
  width: 100%;
  border: 1px solid #282828; }
  .button-light:hover {
    background: #f2f2f2; }

.landing-video iframe {
  width: 100%;
  height: calc(100vh - 120px); }

#masthead {
  text-align: center;
  background-color: #fff;
  height: 120px; }
  #masthead .right-nav, #masthead .left-nav, #masthead .logo-area {
    display: inline-block; }
  #masthead .right-nav, #masthead .left-nav {
    width: 200px; }
  #masthead .right-nav h3 {
    float: left; }
  #masthead .left-nav h3 {
    float: right; }
  #masthead .logo-area img {
    width: 200px; }

#add-form {
  padding: 40px 0; }
  #add-form textarea {
    height: 300px;
    width: 100%; }
  #add-form input, #add-form .chosen-container {
    width: 100% !important;
    margin: 5px 0; }
  #add-form label {
    margin: 5px 0; }
  #add-form .submit-area {
    margin-top: 10px; }
    #add-form .submit-area .add-submit {
      height: 45px;
      background: #fff;
      width: 100%;
      border: 1px solid #282828; }
      #add-form .submit-area .add-submit:hover {
        background: #e6e6e6; }
    #add-form .submit-area #edit-gallery {
      display: block;
      margin: 5px 0;
      color: #282828;
      text-decoration: none;
      text-align: center;
      height: 45px;
      line-height: 45px;
      background: #fff;
      width: 100%;
      border: 1px solid #282828; }
      #add-form .submit-area #edit-gallery:hover {
        background: #f2f2f2; }
    #add-form .submit-area .delete-submit {
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin: 5px 0;
      line-height: 45px;
      display: block;
      height: 45px;
      background: #282828;
      width: 100%;
      border: none; }
      #add-form .submit-area .delete-submit:hover {
        background: #424242; }

#gallery-delete-page {
  padding: 10px 0; }
  #gallery-delete-page h4 {
    text-align: center; }
  #gallery-delete-page .upload-gallery-area {
    margin: 20px 0; }
  #gallery-delete-page #upload-gallery #upl {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    #gallery-delete-page #upload-gallery #upl:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px; }
  #gallery-delete-page #upload-gallery label {
    cursor: pointer;
    font-weight: 300; }
  #gallery-delete-page #upload-gallery #upl + label * {
    pointer-events: none; }
  #gallery-delete-page .delete-box {
    height: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    text-align: center; }
    #gallery-delete-page .delete-box:hover {
      background: #f2f2f2; }
    #gallery-delete-page .delete-box .delete-form {
      display: inline-block; }
    #gallery-delete-page .delete-box .delete-photo {
      height: 150px; }
      #gallery-delete-page .delete-box .delete-photo img {
        display: block;
        margin: auto;
        max-width: 200px;
        max-height: 200px; }

#message-modal .modal-content, #delete-modal .modal-content {
  margin: 0 100px;
  padding: 20px;
  color: #282828;
  text-align: center;
  border-radius: 0; }
  #message-modal .modal-content button, #delete-modal .modal-content button {
    background: #fff;
    height: 45px;
    margin: 5px 0;
    color: #282828;
    border: 1px solid #282828;
    border-radius: 0;
    width: 100%; }
    #message-modal .modal-content button:hover, #delete-modal .modal-content button:hover {
      background: #e6e6e6; }
  #message-modal .modal-content .notdisplay, #delete-modal .modal-content .notdisplay {
    display: none; }
  #message-modal .modal-content #delete-modal-confirm, #message-modal .modal-content #dismiss-button, #delete-modal .modal-content #delete-modal-confirm, #delete-modal .modal-content #dismiss-button {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 15px 0 5px 0;
    display: block;
    height: 45px;
    background: #282828;
    width: 100%;
    border: none; }
    #message-modal .modal-content #delete-modal-confirm:hover, #message-modal .modal-content #dismiss-button:hover, #delete-modal .modal-content #delete-modal-confirm:hover, #delete-modal .modal-content #dismiss-button:hover {
      background: #424242; }
    #message-modal .modal-content #delete-modal-confirm.notdisplay, #message-modal .modal-content #dismiss-button.notdisplay, #delete-modal .modal-content #delete-modal-confirm.notdisplay, #delete-modal .modal-content #dismiss-button.notdisplay {
      display: none; }

#mastfooter .main-footer {
  height: 260px;
  background-color: #282828; }
  #mastfooter .main-footer .footer-logo {
    position: relative;
    top: 50%;
    transform: translateY(50%); }
#mastfooter .sub-footer {
  height: 50px;
  line-height: 50px; }

/*# sourceMappingURL=style.css.map */
